/* src/components/Header.css */
* {
  box-sizing: border-box;
}

header {
    background-color: #f8f9fa;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    height: 50px; /* Adjust the size according to your logo */
  }

  .logo {
   width: 95px;
   height: 95px;
   margin: 15px;
   margin-left: 5px;
   margin-bottom: 40px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    gap: 70px;
  }
  
  nav a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Default link color */
    font-weight: bold; /* Make links bold */
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #C50A0A; /* Change link color on hover */
  }

  
/* Burger Icon */
.burger-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #333;
  margin-right: 15px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  /* Show the burger icon */
  .burger-icon {
    display: block;
  }

  /* Hide nav links initially */
  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f8f9fa;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  /* Show nav links when menu is open */
  .nav-open {
    display: flex;
  }

  nav a {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin: 0;
  }

  nav a:last-child {
    border-bottom: none;
  }
}
  