/* src/components/Header.css */
* {
  box-sizing: border-box;
}

header {
    background-color: #f8f9fa;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    height: 50px; /* Adjust the size according to your logo */
  }

  .logo {
   width: 95px;
   height: 95px;
   margin: 15px;
   margin-left: 5px;
   margin-bottom: 40px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }
  
  nav a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Default link color */
    font-weight: bold; /* Make links bold */
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #C50A0A; /* Change link color on hover */
  }
  